.btn {
  transition-property: background-color, opacity;
  transition-duration: 0.2s;

  @apply relative;

  @apply font-600;
  @apply text-center;

  @apply rounded-full;

  @apply inline-flex;
  @apply justify-center;
  @apply items-center;

  @apply m-8;
  @apply px-12;
  @apply py-8;

  // Size management
  &--block {
    @apply flex;
  }
  &:not(#{&}--block):not(#{&}--auto-size):not(#{&}--mini) {
    min-width: 12rem;
  }

  // Plain style
  &--plain,
  &--mini {
    @apply text-like-green;

    &:hover {
      @apply opacity-75;
    }

    &:active {
      @apply opacity-50;
    }

    &.btn--dark {
      @apply text-white;
    }
  }

  &--plain {
    @apply underline;
  }

  &--mini {
    @apply m-0;
    @apply p-0;
  }


  // Outlined style
  &--outlined {
    @apply text-like-green;

    @apply border-2;
    @apply border-like-cyan-light;

    &:hover {
      @apply bg-like-cyan-translucent;
    }
    &:active {
      @apply bg-like-cyan-translucent-dark;
    }

    &.btn--dark {
      @apply text-white;
    }
    &.btn--destructive {
      $color: #e35050;

      border-color: $color;

      @apply text-like-brown;

      &:hover {
        background-color: transparentize($color, 0.9);
      }
      &:active {
        background-color: transparentize(darken($color, 20%), 0.8);
      }
    }

    &.btn--grayscale {
      @apply text-gray-4a;

      @apply border-gray-9b;

      &:hover {
        @apply bg-gray-f7;
      }
      &:active {
        @apply bg-gray-e6;
      }
    }
  }

  // Default style
  &:not(#{&}--outlined):not(#{&}--plain):not(#{&}--mini) {
    @apply text-white;

    @apply bg-like-green;

    &:hover {
      @apply bg-like-green-dark;
    }

    &:active {
      @apply bg-like-green-darker;
    }

    &.btn--dark {
      @apply text-like-green;

      @apply bg-like-cyan-light;

      &:hover {
        @apply bg-like-cyan-dark;
      }
      &:active {
        @apply bg-like-cyan-darker;
      }
    }
  }

  // Disabled style
  &--disabled {
    pointer-events: none !important;

    color: config('theme.colors.gray-c') !important;

    border-color: config('theme.colors.gray-c') !important;
  }

  // Button icon
  &__icon {
    @apply fill-current;

    @apply w-16;
    @apply h-16;
  }
  &--icon-only {
    @apply py-4;
  }
  &--icon-only &__icon {
    margin: 1px;

    @apply inline;

    @apply w-24;
    @apply h-24;
  }
  &:not(#{&}--icon-only) &__icon {
    @apply absolute;
  }
  &--plain &__icon {
    fill: config('theme.colors.like-cyan');
  }
  &--icon-top:not(#{&}--icon-only) &__icon {
    @apply top-0;
    @apply mt-8;
  }
  &:not(#{&}--icon-only):not(#{&}--icon-top) &__icon {
    @apply left-0;
    @apply ml-8;
  }
  &--with-icon:not(#{&}--icon-top) {
    @apply px-24;
  }
  &--with-icon#{&}--icon-top {
    @apply pt-24;
  }
}
