html {
  font-family: 'open-sans',
               'source-han-sans-traditional',
               'Open Sans',
               'Source Sans Pro',
               'Noto Sans',
               'Microsoft JhengHei',
               'Microsoft YaHei',
               'Arial',
               sans-serif;
  font-size: 16px;
}

@font-face {
  font-family: 'emoji';
  src: local("Apple Color Emoji"),
       local("Segoe UI Emoji"),
       local("Segoe UI Symbol"),
       local("Noto Color Emoji");
}

body {
  @media screen and (max-width: 600px) {
    @apply bg-like-green;

    &::before,
    &::after {
      content: '';

      @apply fixed;
      @apply pin-l;
      @apply pin-r;
    }

    &::before {
      z-index: 10000;
      top: -100vh;

      background-color: inherit;

      @apply h-screen;
    }

    &::after {
      z-index: 10001;
      bottom: 100vh;

      height: 1px;

      background-color: rgba(white, 0.05);
    }
  }
}

a {
  @apply no-underline;
}

button {
  &:focus {
    outline: 0;
  }
}


* {
  box-sizing: border-box;
}
