html {
  font-family: 'open-sans',
               'source-han-sans-traditional',
               'Open Sans',
               'Source Sans Pro',
               'Noto Sans',
               'Microsoft JhengHei',
               'Microsoft YaHei',
               'Arial',
               sans-serif;
  font-size: 16px;
}

a {
  @apply no-underline;
}

button {
  &:focus {
    outline: 0;
  }
}


* {
  box-sizing: border-box;
}
