html {
  font-family: 'open-sans',
               'source-han-sans-traditional',
               'Open Sans',
               'Source Sans Pro',
               'Noto Sans',
               'Microsoft JhengHei',
               'Microsoft YaHei',
               'Arial',
               sans-serif;
  font-size: 16px;
}

@font-face {
  font-family: 'emoji';
  src: local("Apple Color Emoji"),
       local("Segoe UI Emoji"),
       local("Segoe UI Symbol"),
       local("Noto Color Emoji");
}

body {
  @media screen and (max-width: 600px) {
    @apply bg-like-green;

    &::before,
    &::after {
      content: '';

      @apply fixed;
      @apply inset-x-0;
    }

    &::before {
      z-index: 10000;
      top: -100vh;

      background-color: inherit;

      @apply h-screen;
    }

    &::after {
      z-index: 10001;
      bottom: 100vh;

      height: 1px;

      background-color: rgba(white, 0.05);
    }
  }
}

a {
  @apply no-underline;
}

button {
  &:focus {
    outline: 0;
  }
}


* {
  box-sizing: border-box;
}

.nuxt-content {
  h2 {
    margin-top: 24px;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 20px;
  }

  h3 {
    margin-top: 16px;
    margin-bottom: 6px;
    font-weight: bold;
    font-size: 16px;
  }

  p {
    margin-bottom: 24px;
  }

  ul {
    list-style: disc;
    margin-top: 8px;
    margin-left: 24px;
    margin-bottom: 16px;

    li {
      margin-bottom: 8px;
    }
  }
}
