.page-wrapper {
  @apply flex;
  @apply flex-col;

  @apply min-h-screen;
}

.page-content {
  @apply flex;
  @apply flex-col;
  @apply flex-grow;

  &--narrow {
    @apply w-full;
    @apply max-w-phone;

    @apply mx-auto;

    @media screen and (max-width: calc(config('screens.phone.max') + 31px)) {
      @apply px-16;
    }
  }
}
