 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */

@import 'global';

@import 'components/buttons';
@import 'components/list-view';
@import 'components/tooltip';

@import 'layouts';

@import 'transitions';

.placeholder-shimmer {
  @keyframes placeholder-shimming {
    0% {
      background-position-x: -100vw;
    }
    100% {
      background-position-x: 100vw;
    }
  }

  background-size: 100vw 100%;
  background-repeat: no-repeat;
  background-clip: padding-box;
  background-image: linear-gradient(
    to right,
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.5),
    hsla(0, 0%, 0%, 0) 50%
  );

  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeholder-shimming;
  animation-timing-function: linear;

  @apply bg-gray-e6;
}

.site-logo {
  transition-property: transform, opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease;

  &:hover {
    @apply opacity-75;
  }
  &:active {
    transform: scale(0.95);
    transform-origin: center;

    @apply opacity-50;
  }

  @apply text-like-green;

  &--disabled {
    @apply pointer-events-none;
  }

  svg {
    @apply h-20;
    @apply fill-current;
  }
}

.tooltip-inner {
  padding: 5px 10px 4px;
}
